.nav {
    grid-area: n;
    background-color: burlywood;
    padding: 20px;
  }
  .item{
      color:white
  }
  .item a{
    color:white;
    text-decoration: none;
}
  .item a.active{
    color:black
}