.content {
  grid-area: c;
  background-color: cornflowerblue;
}
.item{
  color:red;
  display: flex;
  margin-top:20px;

}
.item img{
  max-width:70px;
  height: auto;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  margin-right: 10px;
}